body{
    background-color: aquamarine;
    direction: rtl;
}
.calculator{
    margin: 20% 42%;
    height: 30%;
    border: solid 2px #7c545469;
    width: 17%;
    background-color: #4cbfbfb8;
}
#display{
    margin-bottom: 40px;
    font-size: 1.5em;
    background-color: #a8c4c9;
    border-radius: 5px;
    padding: 8px;
    margin-left: 5px;
}
.button{
    background-color: cadetblue;
    color: white;
    width: 20%;
    text-align: center;
    padding: 7px 0;
    border-radius: 15px;
    border: solid 1px white;
    box-shadow: 1px 1px 2px #000;
    cursor: pointer;
    user-select: none;
    margin: 1%;
}
.button:hover{
    background-color: #5e5e5e;
}
.btn:active{
    box-shadow: 1px 1px 5px #000 inset;
    padding: 9px 5px;
}
.all_button{
    display: flex;
    width: 100%;
    padding: 4%;
    margin-top: 10%;
    flex-direction: row;
    flex-wrap: wrap;
}
.equal{
    width: 42%;
}
.display{
    padding: 5%;
}
#inp{
    direction: ltr;
    color: black;
    padding-bottom: 2%;
}
.display-2{
    margin-right: 4%;
    padding: 2%;
    direction: ltr !important;
}
.temp-result{
    direction: ltr;
    color: #89837aa3;
    padding-top: 2%;
}

